<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/vendor/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../static/css/app/app.css">
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Nation Story</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Top</a></li>
                        <li><a href="#">Latest</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="story-container">
                <div class="story">
                    <div class="row">
                        <div class="col-md-1">
                            <div class="vote">
                                <div class="upvote"><i class="glyphicon glyphicon-chevron-up"></i></div>
                                <div class="vote-count">1122</div>
                                <div class="downvote"><i class="glyphicon glyphicon-chevron-down"></i></div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <img class=" story-thumbnail" src="http://static.ibnlive.in.com/ibnlive/pix/sitepix/11_2014/modibrking_cutlive_338x225.jpg">
                        </div>
                        <div class="col-md-10 story-right">
                            <div>
                                <div class="story-title"><a href="#">Virat Kohli scored a half century</a></div>
                                <div class="story-created">Created 2 mins ago by <a href="#">nsbot</a>. 5 more stories in this topic.</div>
                                <ul class="story-tags pull-right">
                                    <li class="label label-warning"><a class="story-tag" href="#">Virat Kohli</a></li>
                                    <li class="label label-warning"><a class="story-tag" href="#">Cricket</a></li>
                                </ul>
                                <div class="story-info"></div>
                                <ul class="list-inline story-actions">
                                    <li><a href="#">10 comments</a></li>
                                    <li><a href="#">Share</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="story">
                    <div class="story-title"><a href="#">Tendulkar has launched is autobiography</a></div>
                    <div class="story-created">Created 4 mins ago by <a href="#">nsbot</a>. 5 more stories in this topic</div>
                    <div class="story-info"></div>
                    <ul class="story-tags pull-right">
                        <li class="label label-warning">Sachin Tendulkar</li>
                        <li class="label label-warning">Cricket</li>
                    </ul>
                    <ul class="list-inline story-actions">
                        <li><a href="#">10 comments</a></li>
                        <li><a href="#">Share</a></li>
                    </ul>
                </div>
                <div class="story">
                    <div class="story-title"><a href="#">Mumbai youths who joined Islamic State want to return: MHA sources</a></div>
                    <div class="story-created">Created 4 mins ago by <a href="#">nsbot</a>. 5 more stories in this topic</div>
                    <div class="story-info"></div>
                    <ul class="story-tags pull-right">
                        <li class="label label-warning">Mumbai</li>
                        <li class="label label-warning">ISIS</li>
                        <li class="label label-warning">Terrorism</li>
                    </ul>
                    <ul class="list-inline story-actions">
                        <li><a href="#">10 comments</a></li>
                        <li><a href="#">Share</a></li>
                    </ul>
                </div>
                <div class="story">
                    <div class="story-title"><a href="#">Delhi: DDA announces winners of mega housing scheme</a></div>
                    <div class="story-created">Created 4 mins ago by <a href="#">nsbot</a>. 5 more stories in this topic</div>
                    <div class="story-info"></div>
                    <ul class="story-tags pull-right">
                        <li class="label label-warning">Delhi</li>
                    </ul>
                    <ul class="list-inline story-actions">
                        <li><a href="#">10 comments</a></li>
                        <li><a href="#">Share</a></li>
                    </ul>
                </div>
                <div class="story">
                    <div class="story-title"><a href="#">Former SC judge CK Prasad to succeed Katju as PCI chief</a></div>
                    <div class="story-created">Created 4 mins ago by <a href="#">nsbot</a>. 5 more stories in this topic</div>
                    <div class="story-info"></div>
                    <ul class="story-tags pull-right">
                        <li class="label label-warning">Supreme Court</li>
                    </ul>
                    <ul class="list-inline story-actions">
                        <li><a href="#">10 comments</a></li>
                        <li><a href="#">Share</a></li>
                    </ul>
                </div>
                <div class="story">
                    <div class="story-title"><a href="#">Srinagar: Locals pelt stones on policemen in Maisuma </a></div>
                    <div class="story-created">Created 4 mins ago by <a href="#">nsbot</a>. 5 more stories in this topic</div>
                    <div class="story-info"></div>
                    <ul class="story-tags pull-right">
                        <li class="label label-warning">Srinagar</li>
                    </ul>
                    <ul class="list-inline story-actions">
                        <li><a href="#">10 comments</a></li>
                        <li><a href="#">Share</a></li>
                    </ul>
                </div>
                <div class="story">
                    <div class="story-title"><a href="#">Modi flags off Kathmandu-New Delhi bus service</a></div>
                    <div class="story-created">Created 4 mins ago by <a href="#">nsbot</a>. 5 more stories in this topic</div>
                    <div class="story-info"></div>
                    <ul class="story-tags pull-right">
                        <li class="label label-warning">Narendra Modi</li>
                        <li class="label label-warning">Nepal</li>
                    </ul>
                    <ul class="list-inline story-actions">
                        <li><a href="#">10 comments</a></li>
                        <li><a href="#">Share</a></li>
                    </ul>
                </div>
                <div class="story">
                    <div class="row">
                        <div class="col-md-1">
                            <img class=" story-thumbnail" src="http://static.ibnlive.in.com/ibnlive/pix/sitepix/11_2014/modibrking_cutlive_338x225.jpg">
                        </div>
                        <div class="col-md-11 story-right">
                            <div class="story-title"><a href="#">Jharkhand polls: First phase records 61.92 per cent voter turnout</a></div>
                            <div class="story-created">Created 4 mins ago by <a href="#">nsbot</a>. 5 more stories in this topic</div>
                            <div class="story-info"></div>
                            <ul class="story-tags pull-right">
                                <li class="label label-warning">Jharkhand</li>
                                <li class="label label-warning">Election</li>
                            </ul>
                            <ul class="list-inline story-actions">
                                <li><a href="#">10 comments</a></li>
                                <li><a href="#">Share</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="story">
                    <div class="story-title"><a href="#">Jammu &amp; Kashmir records remarkable 70 per cent polling in first phase of Assembly elections</a></div>
                    <div class="story-created">Created 4 mins ago by <a href="#">nsbot</a>. 5 more stories in this topic</div>
                    <div class="story-info"></div>
                    <ul class="story-tags pull-right">
                        <li class="label label-warning">Jammu &amp; Kashmir</li>
                        <li class="label label-warning">Election</li>
                    </ul>
                    <ul class="list-inline story-actions">
                        <li><a href="#">10 comments</a></li>
                        <li><a href="#">Share</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
