<form class="form-inline center-align">
  <div class="form-group">
    <label class="sr-only">Search Tags</label>
    <div class="input-group">
      <input type="text" class="form-control" ng-model="searchTag">
    </div>
  </div>
  <button class="btn btn-primary" ng-click="search()">Search Tag</button>
  <button class="btn btn-primary pull-right" ng-click="addNewTag()">Add new tag</button><br/><br/>
</form>



<span ng-show="status == 1">Loading..</span>
<div ng-show="tags.length > 0">
    <table  class="table table-striped">
        <thead>
            <tr>
                <th>Keyword</th>
                <th>Tag</th>
                <th>Case Sensitive</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="tag in tags">
                <td>{{tag._id}}</td>
                <td>{{tag.tagsCsv}}</td>
                <td>{{tag.case_sensitive}}</td>
                <td>
                    <button class="btn btn-primary btn-sm" ng-click="editTag($event, tag)"><i class="glyphicon glyphicon-edit"></i></button>
                    <button class="btn btn-danger btn-sm" ng-click="removeTag($event, tag)"><i class="glyphicon glyphicon-remove"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>