<div class="pull-center content-container" ng-show='profileBusy'><span us-spinner></span></div>
<div class="content-container" ng-show="profileErrorMsg">
    <br>
    <div class="alert-error-message"><span class="alert alert-danger">{{profileErrorMsg}}</span></div>
</div>

<div class="row" ng-hide="profileBusy || profileErrorMsg">
    <div class="col-md-3">
        <div class="">
            <div class="thumbnail">
                <img src="{{user.profile_pic}}">
                <div class="caption">
                    <h3><a href="/user/{{user.username}}">{{user.name}}</a></h3>
                    <p ng-show="user.bio">{{user.bio}}</p>
                    <p ng-show="user.website"><i class="glyphicon glyphicon-link"></i> <a target="blank" href="{{user.website}}">{{user.website}}</a></p>
                    <ul class="list-inline">
                        <li ng-show="user.facebook_profile"><a target="blank" href="{{user.facebook_profile}}"><img class="social-icon" src="/static/img/social/facebook.png" /></a></li>
                        <li ng-show="user.twitter_profile"><a target="blank" href="{{user.twitter_profile}}"><img class="social-icon" src="/static/img/social/twitter.png" /></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9 profile-stories-container">
        <div class="story-container" infinite-scroll="stories.nextPage()" infinite-scroll-disabled="stories.busy" infinite-scroll-distance="1">
            <div class="story row story-post animated fadeIn"  ng-repeat='item in stories.items'>
                <div class="text-right" ng-show="isEditable(item)">
                    <span class="label label-primary">{{item.status}}</span>
                    <a class="btn btn-default btn-xs" href="/write/{{item._id}}">Edit</a>
                </div>

                <div ng-show="item.photo" class="col-xs-12 col-md-6 story-photo-container">
                    <div class="img-wrapper">
                        <span class="photo-helper"></span><img class="story-photo" ng-show="item.photo" ng-src="{{item.photo}}" />
                    </div>
                </div>

                <div ng-class="{false: 'col-xs-12 col-md-6 story-right', true: 'col-xs-12 col-md-12 story-right'}[!item.photo]">
                    <div>
                        <div class="story-title"><a ng-href="/opinion/{{item._id}}">{{item.title}}</a></div>
                        <div class="story-created"><span ng-show="item.source_name">{{item.source_name}} -</span> {{item.published}}</div>
                        <div class="story-info"></div>
                        <ul class="list-inline story-actions">
                            <li><a ng-href="{{stories.getLink(item, 'opinion')}}"><img class="social-icon" src="/static/img/social/comments.png" /></a>
                                <a target="blank" href="https://www.facebook.com/sharer/sharer.php?u={{stories.getLink(item, 'opinion')}}"><img class="social-icon" src="/static/img/social/facebook.png" /></a>
                                <a target="blank" href="https://twitter.com/intent/tweet?url={{stories.getLink(item, 'opinion')}}&text={{item.title}}&via=nation_story"><img class="social-icon" src="/static/img/social/twitter.png" /></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <ul class="story-tags" >
                        <li class="label label-story-tags" ng-repeat="tag in item.tags">
                            <a class="story-tag" ng-href="/tag/{{tag}}">{{tag | removehypens}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="pull-center" ng-show='stories.busy'><span us-spinner></span></div>
        <div class="pull-center no-story" ng-show="!stories.busy && stories.items.length == 0">{{getNoStoryText()}}</div>

    </div>
</div>