<!DOCTYPE html>
<html>
    <head>
        {% extends "security/common.html" %}
        {% block head %}
        {{ super() }}
        <meta name="google-signin-scope" content="https://www.googleapis.com/auth/plus.login email" />
        <meta name="google-signin-cookiepolicy" content="single_host_origin" />
        <script src="https://apis.google.com/js/client:platform.js?onload=render" async defer></script>

        {% assets filters="rjsmin", output="gen/login-main.js",
        "../static/js/app/login.js"
        %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

        {% endblock %}
    </head>
    <body>
        {% block content %}
        <div class="container-fluid">
            <div class="login-container row">
                <div class="col-md-offset-4 col-xs-offset-2 col-xs-8 col-md-4">
                    <h3>Nation Story Registration</h3>
                    {% from "security/_macros.html" import render_field_with_errors, render_field,render_field_with_label %}
                    {% include "security/_messages.html" %}
                    <hr>
                        <form role="form" action="{{ url_for_security('reset_password', token=reset_password_token) }}" method="POST" name="reset_password_form">
                        	{{ reset_password_form.hidden_tag() }}
                        	<div class="form-group">
                                {{ render_field_with_label(reset_password_form.password, class="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ render_field_with_label(reset_password_form.password_confirm, class="form-control") }}
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary signup-btn">Update</button>
                            </div>
                        </form>
                </div>
            </div>
        </div>
        {% endblock %}
    </body>
</html>
